select{
    max-width: 50px;
}
.inputs{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

.values{
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}