
<div class="converter_conteiner">

    <div class="inputs">
        
            <select name="first" id="first" [formControl]="firstSymbol" (change)="getFirstSymbolValue()" >
                <option *ngFor="let item of symbols" value={{item.symbol}}>
                    {{item.symbol}} {{item.description}}</option>
                </select>
            

        <input id="first" value={{firstValue}} type='number' [formControl] = "first" (input)="getFirstValue()"/>
        <input id="second" value={{secondValue}} type="number" [formControl] = "second" (input)="getSecondValue()" />
        
        <select name="second" id="second" [formControl]="secondSymbol" (change)="getSecondSymbolValue()">
            <option *ngFor="let item of symbols" value={{item.symbol}}>
                {{item.symbol}} {{item.description}}</option>
        </select>

    </div>
    
    <span class="result">
        result : {{convertionResult}}
    </span>
</div>

